<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links list-inline margin-bottom-medium center">
      <li><a href="{{ site.repo }}">GitHub</a></li>
      <li><a href="https://kristopolous.github.io/BOOTSTRA.386/">{% t theme %}</a></li>
      <li><a data-toggle="modal" data-target="#myModal" href="#myModal">{% t about %}</a></li>
    </ul>
    <p>{% t developed %} <a href="https://twitter.com/alexanmtz" target="_blank" rel="noopener">@alexanmtz</a> {% t reason %}</p>
    <p>Currently v{{ site.current_version }}. Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
